$primary-color: black;

$link-color: blue;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
